<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ToDo</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
    <script src="/todo.js"></script>
</head>
<body>
    <div class="h"><h1>MightyTodo List</h1></div>
    <div id="todo-table">
        <form action="">
            <div class="inpb">
            <button class="totalfrm" type="submit">Add Item</button></div>
            <ul>
                <% for(var i=0; i < todos.length ;i++){ %>              
              <%  }%>
            </ul>
        </form>
    </div>
</body>
</html>
